form{
    display: flex;
    flex-direction: column;
}
input{
    max-width: 200px;
}

.radio{
    margin-left: 2rem;
}

.App-intro{
    margin-bottom: 1rem;
}

.checkedColor{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.checkedSize{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: solid 1px;
    text-align: center;
    font-size: 0.6em;
    font-weight: bold;
}
