* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Sansation;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: #333333;
    width: 100%;
}

.logo > * {
    position: absolute;
    top: 8px;
    padding-bottom: 1px;
    width: 3rem;
    height: 2rem;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
}

.cool {
    height: 50px;
    line-height: 25px;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    display: block;
}

.cool::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.cool:hover::after{
    width: 100%;
    transition: width .3s;
}

.menu-toggle {
    color: white;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

@media (max-width: 991px) {
    header {
        padding: 0 20px;
    }

    .menu-toggle {
        display: block;
    }

    header nav {
        position: absolute;
        z-index: 1000;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    header nav.active{
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

}



